
$background-color: #f7f7fa;

$font-color: white;

// $primary-color: #4267B2;
// $secondary-color: #898F9C;
// $secondary-color-hover: #a4a9b3;
// $tertiary-color: #bbbbbb;

// $visited-color-1: #00004281;
// $visited-color-2: #24597881;
// $visited-color-3: #284c9281;
// $visited-color-4: #4267b281;

$primary-color: #245978;
$secondary-color: #0bb577;
$secondary-color-hover: #0cc581;
$tertiary-color: #34d0eb83;

$visited-color-1: #000042bb;
$visited-color-2: #245978bb;
$visited-color-3: #0bb577bb;
$visited-color-4: #34cfebbb;

$my-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
