
$background-color: #f7f7fa;
$background-color-alt: #f7f7faec;
$background-color-2: #2459782d;

$font-color: white;

// $primary-color: #4267B2;
// $secondary-color: #898F9C;
// $secondary-color-hover: #a4a9b3;
// $tertiary-color: #bbbbbb;

// $visited-color-1: #00004281;
// $visited-color-2: #24597881;
// $visited-color-3: #284c9281;
// $visited-color-4: #4267b281;

$primary-color: #245978;
$secondary-color: #0bb577;
$secondary-color-hover: #0cc581;
$tertiary-color: #34d0eb83;

$visited-color-1: #000042bb;
$visited-color-2: #245978bb;
$visited-color-3: #0bb577bb;
$visited-color-4: #34cfebbb;
$queued-color-1: #370042bb;
$queued-color-2: #242c78bb;
$queued-color-3: #e371ffbb;
$queued-color-4: #b734eb81;
$path-color-1: #ecee86bb;
$path-color-2: #eff17abb;
$path-color-3: #f0f34dbb;
$path-color-4: #e8eb34bb;

$wall-color: rgb(12, 53, 71);

$error-color: #cc5a5aaf;
$error-color-hover: #ff3434af;

$warning-color: #cbf80079;
$warning-color-opaque: #84a45a;
$warning-color-hover: #cbf8008e;

$caution-color: rgba(12, 53, 71, 0.603);
$caution-color-hover: rgba(3, 34, 46, 0.603);

$alternate-font-color: #5458398c;

$my-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
$my-box-shadow_alt: 0px -8px 16px 0px rgba(0,0,0,0.2);
