
@import "./base";

@keyframes visitedAnimation {
    0% {
        transform: scale(.3);
        background-color: $visited-color-1;
        border-radius: 100%;
    }
    50% {
        background-color: $visited-color-2;
    }
    75% {
        transform: scale(1.2);
        background-color: $visited-color-3;
    }
    100% {
        transform: scale(1.0);
        background-color: $visited-color-4;
    }
}
@keyframes queuedAnimation {
    0% {
        transform: scale(.3);
        background-color: $queued-color-1;
        border-radius: 100%;
    }
    50% {
        background-color: $queued-color-2;
    }
    75% {
        transform: scale(1.2);
        background-color: $queued-color-3;
    }
    100% {
        transform: scale(1.0);
        background-color: $queued-color-4;
    }
}

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        background-color: rgb(12, 53, 71);
    }
    50% {
        transform: scale(1.2);
        background-color: rgb(12, 53, 71);
    }
    100% {
        transform: scale(1.0);
        background-color: rgb(12, 53, 71);
    }
}
@keyframes startstopAnimation {
    0% {
        transform: scale(.5);
        // background-color: rgb(12, 53, 71);
    }
    50% {
        transform: scale(1.5);
        // background-color: rgb(12, 53, 71);
    }
    100% {
        transform: scale(1.0);
        // background-color: rgb(12, 53, 71);
    }
}
