@import "./base";
@import "./animations";
#board{
    margin-top: 20px;
    border: 1px solid $tertiary-color;
}
.hello{
    background-color: red;
}
.sparse{
    height: 50px;
    width: 50px;
    position: relative;
}
.normal{
    height: 25px;
    width: 25px;
    position: relative;
}
.dense{
    height: 10px;
    width: 10px;
    position: relative;
}
.start, .stop {
    border: 1px solid $tertiary-color;
    // display: flex; justify-content: center; align-items: center;
    cursor: pointer;
}
.unvisited {
    border: 1px solid $tertiary-color;
}
.instantvisited {
    border: 1px solid $tertiary-color;
    background-color: $visited-color-4;
}
.instantpath {
    border: 1px solid $path-color-4;
    background-color: $path-color-4;
}
.visited {
    border: 1px solid $tertiary-color;

    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    // animation-delay: 0;
    // animation-direction: normal;
    // animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.path {
    border: 1px solid $path-color-4;

    animation-name: pathAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    // animation-delay: 0;
    // animation-direction: normal;
    // animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
// .queued {
//     border: 1px solid $tertiary-color;

//     animation-name: queuedAnimation;
//     animation-duration: 0.5s;
//     animation-timing-function: ease-out;
//     // animation-delay: 0;
//     // animation-direction: normal;
//     // animation-iteration-count: 1;
//     animation-fill-mode: forwards;
//     animation-play-state: running;
// }
.queued {
    background-color: $queued-color-4;
}
.current {
    background-color: rgba(255, 251, 0, 0.699);
}
.wall {
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    // animation-delay: 0;
    // animation-direction: alternate;
    // animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;

    border: 1px solid rgb(12, 53, 71);
}
.stop i, .start i, .key-start i, .key-stop i {
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    
    animation-name: startstopAnimation;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    // animation-delay: 0;
    // animation-direction: normal;
    // animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.key-stop i {
    position: relative;
}
.start i, .key-start i{
    font-size: 25px;
    left: 0.5px;
}
.key-start i{
    position: relative;
}
.start .fa-angle-right, .key-start .fa-angle-right{
    font-size: 35px;
    top: -5px;
    left: 3.5px;
}
.start .fa-project-diagram, .key-start .fa-project-diagram{
    font-size: 19px;
    top: 3px;
}
.dense-start i{
    font-size: 10px;
    top: 0px;
    left: -0.5px;
}
.dense-start .fa-angle-right{
    font-size: 15px;
    left: 1px;
    top: -2px;
}
.dense-start .fa-project-diagram{
    font-size: 9px;
    top: 0px;
    left: -1px;    
}
.sparse-start i{
    font-size: 50px;
    top: 0px;
    // left: 11px;
}
.sparse-start .fa-angle-right{
    font-size: 60px;
    left: 7px;
    top: -4px;
}
.sparse-start .fa-project-diagram{
    font-size: 35px;
    top: 4px;
    left: 2px;    
}
.stop i, .key-stop i{
    font-size: 25px;
    top: 0px;
    left: -0.5px;
}
.dense-stop i{
    font-size: 10px;
    top: 0px;
}
.sparse-stop i{
    font-size: 50px;
    top: 0px;
    left: 0px;
}
