@import "./base";
@import "./animations";
#board{
    border: 1px solid $tertiary-color;
}
#board td{
    height: 25px;
    width: 25px;
}
.start, .stop {
    border: 1px solid $tertiary-color;
    display: flex; justify-content: center; align-items: center;
    cursor: pointer;
}
.unvisited {
    border: 1px solid $tertiary-color;
}
.visited {
    border: 1px solid $tertiary-color;

    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    // animation-delay: 0;
    // animation-direction: normal;
    // animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.wall {
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    // animation-delay: 0;
    // animation-direction: alternate;
    // animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;

    border: 1px solid rgb(12, 53, 71);
}
.stop i, .start i {
    margin: 0;
    padding: 0;
    font-size: 25px;
    border: none;

    animation-name: startstopAnimation;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    // animation-delay: 0;
    // animation-direction: normal;
    // animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.start i{
    font-size: 35px;
}
