@import "./navbar";
@import "./dropdown";
@import "./grid";
body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
}
i {
    margin: 0 10px;
}
#mainGrid {
    width: 90%;
    margin: 0 auto;
}