@import "./navbar";
@import "./dropdown";
@import "./grid";
@import "./legend";
body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
}
i {
    margin: 0 10px;
}
#mainGrid {
    width: 90%;
    min-width: 1300px;
    margin: 0 auto;
}
.board {

}