@import "./base";

#global-nav {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    background-color: $primary-color;
    box-shadow: $my-box-shadow;
    min-height: 50px;
}
.navbar {
    margin: 0 auto;
    width: 90%;
}
.link {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
#logo-link {
    font-size: 20px;
}
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    font-size: 14px;
}
.navbar-logo {
    min-width: 200px;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    // min-width: 700px;
    // width: 70%;
    height: 100%;
}
.nav-item {
    margin: 0 10px;
    min-width: 40px;
    cursor: pointer;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s linear;
    padding: 0 10px;
}
.nav-item:hover {
    color: $secondary-color;
    transition: all 0.1s linear;
}
#actualStartButton:hover {
    background-color: $secondary-color-hover;
    transition: all 0.1s linear;
}
#actualStartButton {
    background-color: $secondary-color;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.clicked {
    background-color: $secondary-color;
    border-radius: 5px;
}
.clicked:hover {
    color: white;
}
