@import "./base";
h3 span {
    font-weight: bold;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.493);
    width: 100%;
    height: 100%;
}
.modal-content-pg {
    position: absolute;
    right: 10px;
    top: 10px;
}
@for $i from 1 through 9 {
    .modal-content-#{$i} {
        display: none;
        flex-direction: column;
    }
    .modal-content-#{$i} h2 {
        text-align: center;
        margin: 10px auto;
        font-size: 25px;
    }
    .modal-content-#{$i} h3 {
        margin: 10px auto;
        font-size: 20px;
    }
    .modal-content-#{$i} p {
        margin: 10px auto;
        font-size: 15px;
    }
    .modal-content-#{$i} img {
        margin: auto;
        margin-top: 15px;
        height: 300px;
    }
}
.modal-content-1 img {
    margin: auto;
    margin-top: 15px;
    width: 400px;
    height: 400px;
}
.modal-content-8 img {
    margin: auto;
    margin-top: 15px;
    height: 45px;
}
.modal-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    //
    border: 3px solid black;
    background-color: $background-color-alt;
    box-shadow: $my-box-shadow;
    border-radius: 10px;
    width: 70%;
    // height: 80%;
    // height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-content h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 0 auto;
    padding: 15px;
}
.modal-btn-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.modal-btn {
    color: $font-color;
    font-weight: 700;
    width: 100px;
    margin: 0 10px;
}
.modal-btn-nextprev {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.modal-content-9 i {
    font-size: 50px;
}
.modal-content-9 h2 {
    margin-bottom: 30px;
}
.modal-content-9 h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modal-content-9 h3:hover {
    cursor: pointer;
    color: $primary-color;
}
.profile-link {
    text-decoration: none;
}


.modal-nav {
    font-weight: bold;
    margin-right: 5px;
    // border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}
.modal-content-8 h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modal-walls {
    background-color: $wall-color;
}
.modal-path {
    background-color: $warning-color-opaque;
}
.modal-board {
    background-color: $error-color;
}
.modal-visualize {
    background-color: $secondary-color;
}